<header class="navbar">
    <div class="nav-container">
        <a href="/" class="nav-logo">
            IT-ERA
        </a>
        
        <nav class="nav-menu">
            <a href="/" class="nav-link">Home</a>
            <a href="/servizi" class="nav-link">Servizi</a>
            <a href="/contatti" class="nav-link">Contatti</a>
        </nav>
        
        <div class="nav-actions">
            <a href="tel:0398882041" class="btn btn-primary">
                📞 039 888 2041
            </a>
        </div>
        
        <button class="mobile-menu-toggle" onclick="toggleMobileMenu()">
            ☰
        </button>
    </div>
    
    <div class="mobile-menu" id="mobileMenu">
        <ul class="mobile-nav-menu">
            <li><a href="/" class="mobile-nav-link">Home</a></li>
            <li><a href="/servizi" class="mobile-nav-link">Servizi</a></li>
            <li><a href="/contatti" class="mobile-nav-link">Contatti</a></li>
            <li><a href="tel:0398882041" class="mobile-nav-link">📞 Chiama Ora</a></li>
        </ul>
    </div>
</header>