<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.png" alt="IT-ERA" class="logo-img">
                    <span class="logo-text">IT-ERA</span>
                </a>
            </div>
            
            <nav class="nav">
                <ul class="nav-list">
                    <li><a href="/" class="nav-link">Home</a></li>
                    <li><a href="/servizi" class="nav-link">Servizi</a></li>
                    <li><a href="/contatti" class="nav-link">Contatti</a></li>
                </ul>
            </nav>
            
            <div class="header-actions">
                <a href="tel:0398882041" class="btn btn-emergency">
                    📞 Emergenza: 039 888 2041
                </a>
            </div>
        </div>
    </div>
</header>