# deps e build
node_modules/
api/node_modules/
dist/
.build/
.cache/
.tmp/

# CF/Wrangler cache
.wrangler/
.worker/
functions/.wrangler/

# sistema & IDE
.DS_Store
*.log
logs/*
!.gitkeep

# varii
*.local
.env
.env.*
.vercel
